.backdrop-content {
  position: fixed;
  z-index: 50000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  top: 0;
}

#default-sidebar {
  z-index: 50000;
}
