.product-form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a2a2a;
    column-gap: 50px;
    padding: 15px;
    border-radius: 5px;
    border-color: red;
}

.product-form .product-form-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-form-input input {
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px !important;
    font-weight: bold;
}

.product-form-input input:focus {
    outline: 0;
}

.product-form .product-form-input input, .product-form-button {
    padding: 10px;
}

.product-form-button {
    margin-top: 25px;
    background: transparent;
    border: 1px solid #545454;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.cancel {
    background-color: #545454;
    color: white;
    margin-left: 30px;
}